.node circle {
  fill: #3498cf;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

div.pools {
  text-align: center;
}

div.pool {
  display: inline-block;
}

div#debug_data {
  margin-top: 100px;
  color: #ccc;
}
